.change-password-container {
    background-image: url('../images/faculty.jpg');
    background-size: cover;
    background-color: rgba(184, 219, 222, 0.5);
    display: flex;
    padding: 5em;
    height: 100vh;
  }
  
  .change-password-left-container {
    flex: 1;
    height: fit-content;
  }
  
  .change-password-right-container {
    flex: 1;
    background-color: rgb(97, 147, 151);
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
  }
  
  .change-password-right-container h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .email-input-group {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .email-input-group input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .email-input-group button,
  .input-group button {
    padding: 8px 12px;
    border: none;
    background-color: #15323d;
    color: white;
    border-radius: 10px;
    cursor: pointer;

  }
  
  .email-input-group button:disabled,
  .input-group button:disabled {
    background-color: #15323d;
    cursor: not-allowed;
    border-radius: 10px;
  }
  
  .title-change-pass{
    color: white;
  }